[MASTER]
# Your settings here

[MESSAGES CONTROL]
# Settings related to message control
disable = missing-module-docstring, missing-function-docstring, wrong-import-order, logging-fstring-interpolation, consider-using-f-string, line-too-long
enable = E,F

[REPORTS]
# Settings for reports
